<div class="product-info">
    <span class="name"></span>
    <span class="id"></span>
</div>
<div class="row">                  
    <div class="col-md-10 col-lg-10">                                
            <div class="live-view-wrap">
                <video id="live-view" playsinline autoplay></video>
                <div class="frame-wrap">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                    <span class="camera-icon"></span>
                </div>
            
            </div>
    </div>
    <div class="col-md-2 col-lg-2">
        <div class="nano screenshot-wrap">
            <div class="nano-content snapshot-wrap" id="screenshotContainer"></div>
        </div>
    </div>                        
</div>
<div class="row">
        <div class="col-md-10 col-lg-10">
            <div class="action-btns-wrap qr-scanner-btns row">
                <div class="col-md-4 col-lg-4">
                    <a class="action-btn upload-btn">
                        <label for="file-select-btn" class="file-upload-label"></label>
                        <input type="file" id="file-select-btn" class="file-upload-btn">
                    </a>
                    <p>Upload</p>
                </div>
                <div class="col-md-4 col-lg-4">
                    <a class="action-btn take-snap-btn" onclick="takeSnapshot()">

                    </a>
                    <p>Take Snap</p>
                </div>
                <div class="col-md-4 col-lg-4">
                        <a class="action-btn cancel-btn" onclick="cancelImage()">

                        </a>
                        <p>Clear</p>
                </div>
            </div>
            <p class="error-msg"></p>
        </div>
</div>         

<div class="control-btns-wrap">
        <div class="control-btn yellow-btn to-submit-tab-btn" onclick="goToSubmitTab()">Continue</div>    
</div>
<!-- <div>
    <div class="row">
        <div class="col-md-6 col-lg-12 col-xl-6">
            <section class="panel">
                <div class="panel-body">
                    <p>Select a video source:</p>
                    <p class="m-none">
                        <button id="mobileStreamerButton" type="button" class="mb-xs mt-xs mr-xs btn btn-default" onclick="connect();openMobileStream()">Mobile</button>
                        <button id="camStreamerButton" type="button" class="mb-xs mt-xs mr-xs btn btn-default" onclick="disconnect();openCameraStreamer()">Sony Cam</button>
                    </p>
                    <div id="container">
                        <div id="main">
                            <div id="videoStreamer">
                                
                                <h4 id="server_messages" style="color:red"></h4>
                                <div id="demoContainer">
                                    <div id="connectControls" style="display:none">
                                        <input type="checkbox" id="shareAudio" />Share audio
                                        <input type="checkbox" id="shareVideo" />Share video
                                        <br />
                                        <input type="checkbox" checked="checked" id="expectAudio" />Expect audio
                                        <input type="checkbox" checked="checked" id="expectVideo" />Expect video
                                        <br />
                                        <button id="disconnectButton" onclick="disconnect()">Disconnect</button>
                                        <button id="hangupButton" disabled="disabled" onclick="hangup()">Hangup</button>
                                        <div id="iam">Not yet connected...</div>
                                        <br />

                                    </div>
                                    <strong style="display:none">Connected users:</strong>
                                    <div style="display:none" id="otherClients"></div>
                                    <div class="row">
                                        <div class="col-md-8">

                                            <div id="videos">
                                                <video autoplay="autoplay" style="display:none" id="selfVideo" class="easyrtcMirror" muted="muted" volume="0"></video>
                                                <video autoplay="autoplay" id="callerVideo"></video>
                                                <div id="acceptCallBox">
                                                    <div id="acceptCallLabel"></div>
                                                    <button id="callAcceptButton">Accept</button>
                                                    <button id="callRejectButton">Reject</button>
                                                </div>
                                            </div>
                                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-info" onclick="takeSnapshot()"><i class="fa fa-camera"></i> Take Snap</button>

                                        </div>
                                        <div class="col-md-4" style="padding-left:50px" id="screenshotContainer">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <br style="clear:both;" />
                                <hr />


                                

                            </div>
                            <div id="cameraStreamer" style="display:none">
                                <div class="row">
                                    <div class="col-md-2">
                                        <ul id="params"></ul>
                                        <div class="btn-group-vertical">
                                            <button id="capture" type="button" class="btn btn-default">Capture</button>
                                            <button id="startViewfinder" type="button" class="btn btn-default">Liveview On</button>
                                            <button id="stopViewfinder" type="button" class="btn btn-default">Liveview Off</button>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <img id="img" width="100%">
                                    </div>
                                    <div class="col-md-2">
                                        <ul id="updates"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    
</div> -->
