<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <!--skip-->
        <title>Chennai Silks - Stream video from clients</title>
        <link rel="stylesheet" type="text/css" href="/views/lib/easyrtc/easyrtc.css" />

        <!--hide-->
        <link rel="stylesheet" type="text/css" href="/views/css/styles.css" />
        <!-- <link rel="stylesheet" type="text/css" href="/views/css/demo_audio_video_simple.css" /> -->
        <!-- Prettify Code -->
        <script type="text/javascript" src="/views/lib/prettify/prettify.js"></script>
        <script type="text/javascript" src="/views/lib/prettify/loadAndFilter.js"></script>
        <script type="text/javascript" src="/views/lib/prettify/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/views/lib/prettify/prettify.css" />

        <!--show-->
        <!-- Assumes global locations for socket.io.js and easyrtc.js -->
        <script src="/views/lib/easyrtc/socket.io.js"></script>
        <script type="text/javascript" src="/views/lib/easyrtc/easyrtc.js"></script>
        <script type="text/javascript" src="/views/js/video_streamer.js"></script>
        <script>
        console.log("************+++++");
            function getSelfVideo(){
              console.log("************");
              var selfVideo = document.getElementById("selfVideo");
              easyrtc.setVideoObjectSrc(selfVideo, easyrtc.getLocalStream())
            }
        </script>

    </head>
      <!--show-->
  </head>
  <body onload="connect();">
       <!--hide-->
      <div id="container">
          <div id="main">
              <h2>Chennai Silks - client</h2>
              <!--show-->
              <h4 id="server_messages" style="color:red"></h4>
              <div id="demoContainer">
                  <div id="connectControls" style="display:none">
                      <input type="checkbox"  id="shareAudio" />Share audio
                      <input type="checkbox" checked="checked" id="shareVideo" />Share video<br />
                      <input type="checkbox" checked="checked" id="expectAudio" />Expect audio
                      <input type="checkbox"  id="expectVideo" />Expect video<br />

                      <input type="checkbox" id="useFreshIce" onclick="easyrtc.setUseFreshIceEachPeerConnection(this.value);"/>Fresh Ice<br />
                      <button id="connectButton" onclick="connect()">Connect</button>
                      <button id="disconnectButton" onclick="disconnect()">Disconnect</button>
                      <button id="hangupButton" disabled="disabled" onclick="hangup()">Hangup</button>
                      <div id="iam">Not yet connected...</div>
                      <br />

                  </div>
                  <strong>Connected users:</strong>
                  <div id="otherClients"></div>
                  <div id="videos">
                    <!-- <video autoplay="autoplay" id="selfVideo"  class="easyrtcMirror" muted="muted" volume="0"></video> -->
                      <!-- <video autoplay="autoplay" id="callerVideo"></video> -->
                      <video autoplay="autoplay" id="selfVideo"  class="easyrtcMirror" muted="muted" volume="0"></video>
                      <div id="acceptCallBox"> <!-- Should be initially hidden using CSS -->
                          <div id="acceptCallLabel"></div>
                          <button id="callAcceptButton" >Accept123</button> <button id="callRejectButton">Reject</button>
                      </div>
                  </div>
                  <!-- <div id="audioSinkButtons">
                  </div> -->

              </div>
              <!--hide-->
              <br style="clear:both;" />
              <hr />
          </div>
      </div>
      <!--show-->
  </body>
</html>
